body{
    background-color: #E2CFEA;
}
.me{
    width: 30% !important;
    margin-top: 5%;
}
h1, h4, a{
    color: #102B3F !important;
}
.fixme:not(.browser-default) {
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fixme:not(.browser-default) li {
    list-style-type: disc;
}
blockquote{
    border-left: 5px solid #6247AA !important;
}

.card-style{
    color: #E2CFEA;
    background-color: #102B3F;
}